.module-img {
    height: 50%;
}

.c2stem-nav {
    height: 38px!important;
}

.c2stem-nav-wrapper {
    line-height: 38px!important;
    min-height: 38px!important;
    margin-left: 12px;
}

.tabs,
.tab {
    line-height: 24px!important;
    height: 24px!important;
}

p {
    margin: 15px;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.c2stem-snap1 {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.c2stem-snap1 iframe {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.c2stem-snap2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.c2stem-snap2 canvas {
    width: 100%;
    height: 100%;
    display: block;
    flex-grow: 1;
}

.c2stem-desc {
    padding: 10px;
}

.c2stem-desc ul {
    padding-left: 40px;
}

.c2stem-desc ul li {
    list-style-type: circle;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border: 0px;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -10px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 90%;
   margin: 0px auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#tasks li{
    border: 5px solid lightpink;
    overflow: hidden;
}

#a1d-constant{
    border: 5px solid yellowgreen!important;
}

#a1d-stop{
    border: 5px solid yellowgreen!important;
}

#a2d-mb_cross{
    border: 5px solid yellowgreen!important;
}

#a1d-deliver{
    border: 5px solid mediumpurple!important;
}

#a2d-river_challenge{
    border: 5px solid mediumpurple!important;
}

#sidebar{
    background: #e57373;
    width: 200px;
    height: 100%;
    display:block;
    position: absolute;
    left: 0px;/*-200px;*/
    top:0px;
    /*transition: left 0.3s linear;*/

}

#sidebar ul{
    margin-left: 0px;
    padding: 0px;
}

#sidebar ul li{
    list-style: disc;
    /*display: block;*/
    width: 100%;
    padding: 5px;
    /*border-top: 1px solid white;
    border-bottom: 1px solid white;*/
    font-size: 18px;
    text-align: center;
}
#sidebar ul li:hover{
    background: white;
    transition: linear all 0.40s;
    margin-left: 10px;
}
#sidebar ul li a{
    background: #e57373 ;/*#d18a93;*/
    color: White;/*
    border-bottom: 1px solid #111;*/
    display: block;
    width: 100px;
    padding: 0px;
    text-decoration: none;
}

#sidebar ul li a:hover{
    background: white;
    border-bottom: 1px solid white;
    color: black;
}

#sidebar ul h3{
    color: White;
    text-align: center;
    border: 2px solid #ef9a9a;
    font-size: 30px;
    left:0px;
}

#sidebar ul h4{
    color: White;
    text-align: left;
    border: 2px solid #ef9a9a;
    /*padding: 3px;*/
    font-size: 20px;
    left:0px;
}

.tab-content {
    top: 64px;
    height: 2000px;
    overflow: hidden;
    text-align: justify;
    font-size: 20px;
    position: absolute;
    left:220px;
}

.tab-content span:nth-child(2){
    text-decoration: underline;
}

.ImageStyle{
    margin-left: 500px;
}
.imgFloat{
    border:1px solid black;
    margin-right: 5px;
    float: left;
}
.resourseiFrame{
    margin-left: 250px;
}
.descSubscript{
    position: relative;
    top: 0.3em;
    color: black;
    font-size: 0.8em;
}

#desc_resourceIframe{
    height:   100%;
    left:     0px;
    position: absolute;
    top:      64px;
    width:    100%;
}
