.module-img {
    height: 50%;
}

.c2stem-nav {
    height: 38px!important;
}

.c2stem-nav-wrapper {
    line-height: 38px!important;
    min-height: 38px!important;
    margin-left: 12px;
}

.tabs,
.tab {
    line-height: 24px!important;
    height: 24px!important;
}

p {
    margin: 15px;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.c2stem-snap1 {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.c2stem-snap1 iframe {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.c2stem-snap2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.c2stem-snap2 canvas {
    width: 100%;
    height: 100%;
    display: block;
    flex-grow: 1;
}

.c2stem-desc {
    padding: 10px;
}

.c2stem-desc ul {
    padding-left: 40px;
}

.c2stem-desc ul li {
    list-style-type: circle;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border: 0px;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -10px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}