.module-img {
    height: 50%;
}

.c2stem-nav {
    height: 38px!important;
}

.c2stem-nav-wrapper {
    line-height: 38px!important;
    min-height: 38px!important;
}

.tabs,
.tab {
    line-height: 24px!important;
    height: 24px!important;
}

p {
    margin: 15px;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.c2stem-snap {
    background-color: yellow;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.c2stem-snap iframe {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}